<div class="container">
  <h1>Articles</h1>
  Our blog has <%= Article.public_count %> articles

  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <h3><%= link_to article.title.titlecase, article %></h3>
    <% end %>
  <% end %>
  
  <br>
  <br>

  <%= link_to "New Post", new_article_path %>
  
  <br><br>
  <h2>
    <div data-controller="hello"></div>
  </h2>

  <br><br>

  <div data-controller="utilities--md5">
    <%= link_to "Hash this", "#", "data-action": "utilities--md5#convert" %>
  </div>

  <br><br>
</div>

